section.about-me{
	position: relative;
	min-height: 99vh;
	margin-top: 0;
	background-color: $color-primary;
	color: white;
	padding-bottom: 6.5rem;
	
	p{
		line-height: 2rem;
		text-align: center;
		font-size: 1.5rem;
		padding: 2rem;
	}

	img{
		max-width: 100%;
		height: auto;
		border-radius: 50%;
		border: 1px solid $color-white;
	}
}