footer{
	.container{
		display: flex;
		padding: 10px 0px;
		flex-wrap: wrap;
		justify-content: center;
		h2{
			text-transform: uppercase;
			font-weight: 700;
			color: white;
			flex-basis: 4;
		}
		.circle{
			margin-left: 20px;
			width: 50px;
			height: 50px;
			background-color: $color-white;
			border-radius: 50%;
			text-align: center;
			transition: all .5s;

			i{
				display:inline-block;
				font-size: 2rem;
				line-height: 50px;
				color:$color-primary;
				width: 40px;
				height: 40px;
				text-align: center;
				vertical-align: bottom;
			}
			.fa-linkedin{
				color: #0e76a8;
				transition: all .5s;
			}
			.fa-github{
				color: black;
				transition: all .5s;
			}
		}
		.circle:nth-child(2):hover{
			background-color: #0e76a8;
			border: 1px solid $color-white;
			.fa-linkedin{
				color: $color-white;
			}
		}
		.circle:nth-child(3):hover{
			background-color: black;
			border: 1px solid $color-white;
			.fa-github{
				color: $color-white;
			}
		}
	}
	background-image: linear-gradient($color-primary, darken($color-primary,10));
}