:root{
	font-size: 14px;
	scroll-behavior: smooth;
	:any-link{
		text-decoration: none;
		color: $color-primary;
	}
}

* {
	box-sizing: border-box;
}

@media only screen and (min-width: 768px){
	:root{
		font-size: 18px;
	}
}

body{
	margin: 0;
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

section{
	h2{
		text-transform: uppercase;
		padding-top: 3%;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1.8rem;
		width: 100%;
	}
}

.container {
	margin: 0 auto;
	max-width: 1048px;
}

.row {
	display: flex;
}

.shadow{
	box-shadow: 1px 0 10px gray;
}