body{
	// background-image: url("../img/stitched_wool.png");
	overflow-x: hidden;
	font-family: 'Source Sans Pro', sans-serif;
}

section{
	h2{
		text-transform: uppercase;
		padding-top: 3%;
		text-align: center;
		color: white;
		font-weight: 700;
		font-size: 1.8rem;
		width: 100%;
	}
}

hr{

}